@model ProposalSystem.Models.Result

@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            padding: 20px;
        }
        form {
            border:solid 1px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#check").click(function () {
                $("#center").load("/Result/Index");
            });
        });
        $("#done").click(function () {
            $("#center").load("/FeedBack/Index");
        });

    </script>

</head>
    

<body>
   
    <div class="container">
        <div id="image">
            <img src="~/Images/logo3.jpg" />
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

        <div style="padding-top: 5px">
            <div class="col-md-3">
                <div class="list-group">
                    <!--激活，作为标题-->
                    <a href="#" class="list-group-item active ">系统菜单
                    </a>
                    <a href="#" id="check" class="list-group-item">待处理提案</a>
                    <a href="#" id="done" class="list-group-item">已处理提案</a>
                    <a href="http://localhost:1700" class="list-group-item">退出登录</a>
                </div>
            </div>

            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        <li><span class="glyphicon glyphicon-home"></span>&nbsp;
                                <a href="/Unit/Index">主页</a>
                        </li>
                        <li class="active"></li>
                    </ol>
                </div>
                <div id="center">
                    <h3 class="text-center">提案审核</h3>

                    <form class="form-horizontal" role="form" action="/Unit/Submit" method="post">
                        <div class="form-group" style="padding-top: 20px">
                            <label for="title" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" 
                        value="@Html.DisplayFor(model => model.Proposal1.Title)" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="30" class="form-control" name="content" disabled>
                                    @Html.DisplayFor(model => model.Proposal1.Content)</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">类型</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="type" 
                        value="@Html.DisplayFor(model => model.Proposal1.ProposalType.Type)" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mainproposer" class="col-sm-2 control-label">主提案人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="mainproposer"
                         value="@Html.DisplayFor(model => model.Proposal1.User.UserName)" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="co-sponsor" class="col-sm-2 control-label">联名提案人</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="co-sponsor"
                         value="@Html.DisplayFor(model => model.Proposal1.Co_Proposers)" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="result" class="col-sm-2 control-label">立案情况</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="result" 
                        value="@Html.DisplayFor(model => model.Register)" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="reason" class="col-sm-2 control-label">立案说明</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="30" class="form-control" name="instruction" disabled>
                                    @Html.DisplayFor(model => model.Instruction)</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="department" class="col-sm-2 control-label">处理部门</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="department" 
                        value="@Html.DisplayFor(model => model.Department1.Name)" disabled >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="opinion" class="col-sm-2 control-label">处理结果</label>
                            <div class="col-sm-10">
                                <select class="form-conctrol" name="opinion">
                                    <option value="受理">受理</option>
                                    <option value="不受理">不受理</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="work" class="col-sm-2 control-label">执行内容</label>
                            <div class="col-sm-10">
                                <textarea rows="10" cols="30" class="form-control" name="work"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">提交结果</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center" style="padding-top: 200px">
                    Copyright © 2017-2018 larger5
                </div>
            </div>
        </div>
    </div>
</body>

</html>